@model List<Product>

<partial name="_Notifications" />

<div class="container">
    <div class="row py-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Product List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="UpSert" class="btn btn-primary">
                <i class="bi bi-plus-square-dotted"></i> Create New Product
            </a>
        </div>
    </div>
</div>

<!-- Thẻ div chứa bảng với thanh cuộn dọc và header cố định -->
<div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
    <table class="table-bordered table-striped table">
        <thead class="table-light" style="position: sticky; top: 0; z-index: 1;">
            <tr>
                <th>Title</th>
                <th>ISBN</th>
                <th>Price</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.Title</td>
                    <td>@obj.ISBN</td>
                    <td>@obj.Price</td>
                    <td>@obj.cateGoryId</td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Product" asp-action="UpSert" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                            <a asp-controller="Product" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                <i class="bi bi-trash"></i> Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
